[Unit]
Description=My Reed open door Service
After=remote-fs.target
After=syslog.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/francesco/Documents/Reed_Door_Sensor/python_monitor
ExecStart=/bin/python __FULL_SCRIPT_PATH__
Restart=no # or always, on-abort, etc

[Install]
WantedBy=multi-user.target
